@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome please select a link below</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <h3 class="display-4"><a href="/PotLuck/RSVPform/">PotLuck RSVP</a></h3>
    <h3 class="display-4"><a href="/PotLuck/Dish/">Bring a Dish</a></h3>
</div>
